#!/bin/sh
##########################################################################
#-------------------Ini values-------------------------------------------#
##########################################################################
umask 0003

space=I
healpix_dir=${HEALPIX}
expdata_format='WMAP'
data_basedir='../Data/WMAP'
ctpp_basedir='../Output/Spherical-'${space}'/CTpp_theory'
fiducial_ctpp='../Output/Spherical-'${space}'/CTpp_theory/CTpp_fiducial/filename'

output_basedir='../Output/Spherical-'${space}
extras=''

signal_file=${data_basedir}'/coadd_cleanimap_16.fits'
ring_weight_file=${healpix_dir}'/data/weight_ring_n00016.fits'

nside=16
nsh=10
OmegaL=0.7
H0=73.
Ok=${1}

do_rotate='.TRUE.'
find_best_angles='.FALSE.'
# If false find best angles will rotate to orientation below
angles='0.5d0 0.0d0 0.0d0'
lmax=40

# Cut is determined by the presence of mask_file
mask_file=${data_basedir}'/kp0_8.2deg_thr0.5_16.fits'

add_noise=.TRUE.
#
# If do_smooth=TRUE  and noise_file is set 
# we smooth noise correlation before adding matrix to CTpp
# If do_smooth=FALSE and noise_file is set 
# the noise correlation matrix is added to CTpp "as is" 
#                                   (presumably should be diagonal )
noise_file=${data_basedir}'/coadd_noise_8.2deg_16.fits'
#noise_file=''
#epsil is always added to the diagonal of CTpp. May be used for regularization
#It must be set to a value, put 0 (or negative) for no regularization
epsil='0.0'

beam_file=''
G_fwhm='492.0'

#make map visualization from CTpp
make_map='.FALSE.'
#makes map only does not find max likelihood
make_map_only='.FALSE.'
add_map_noise='.FALSE.'

#if set to 0 will use system clock
iseed=1

do_nice_out_file='.TRUE.'

##########################################################################
#--------------------Running script--------------------------------------#
##########################################################################
#Prints output to file not to screen

#Construct file names from parameters given

if [ "$mask_file" == "" ]; then
   mask=""
else
   mask="_kp0"
fi

if [ "G_fwhm" == "" ]; then
   smooth=""
else
   smooth="_smoothed${G_fwhm}"
fi

if [ "$add_map_noise" == ".TRUE." ]; then
   noise="_cnoise"
else
   noise="_cnonoise"
fi

suffixes=${space}${smooth}_nside${nside}_nsh${nsh}_Ok${1}_epsil${epsil}${extras}

#Use nice output file
nice_out_file=${output_basedir}/Likelihood/topmarg_${suffixes}.out
# Debug output
run_out_file=${output_basedir}/Likelihood/topmarg_fullrun_${suffixes}.out
# Concise output
short_out_file=${output_basedir}/Likelihood/topmarg_allOk_${suffixes}.out
# Map output
map_out_file=${output_basedir}/CTpp_maps/map${mask}${smooth}_nside${nside}_nsh${nsh}_Ok${1}${noise}${extras}.fits

# We want unsmoothed CTpp since smoothing is done in Topmarg
CTpp=${ctpp_basedir}'/CTpp/ctpp_'${space}'_nside'${nside}'_nsh'${nsh}'_Ok'${1}${extras}

#Main call, if statement to screen
echo 'Starting Ok'${1}
if [ "$2" == --screen ]; then
./topmarg << EOF
${nice_out_file}
${expdata_format}
${signal_file}
${mask_file}
${beam_file}
${ring_weight_file}
${fiducial_ctpp}
${CTpp}
${map_out_file}
${output_file}

${nside}
${nsh}
${OmegaL}
${H0}
${Ok}

${make_map}
${add_map_noise}
${iseed}
${make_map_only}

${G_fwhm}

${lmax}

${do_rotate}
${angles}
${find_best_angles}

${add_noise}
${epsil}
EOF

else
./topmarg 2>$run_out_file >> $short_out_file << EOF
${nice_out_file}
${expdata_format}
${signal_file}
${mask_file}
${beam_file}
${ring_weight_file}
${fiducial_ctpp}
${CTpp}
${map_out_file}
${output_file}

${nside}
${nsh}
${OmegaL}
${H0}
${Ok}

${make_map}
${add_map_noise}
${iseed}
${make_map_only}

${G_fwhm}

${lmax}

${do_rotate}
${angles}
${find_best_angles}

${add_noise}
${epsil}
EOF
fi
#epsilfile="epsil_ok"${Ok}".data"
#eigenfile="epsil_ok"${Ok}".eigen"
#mv epsilplot.data ${epsilfile}
#mv epsil.eigen ${eigenfile}
echo 'DONE'


